.category-card {

  .category-card {
    margin-left: 20px;
  }
  .category-card-body {
    background-color: #1a1d24;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;

    .title {
      color: #F9FFEE;
      cursor: pointer;
    }
  }
  .category-card-body:hover {
    background-color: #171b23;
  }
}
